<h2><%= @artist.name.upcase %></h2>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"><%= link_to "New Song", new_artist_song_path(@artist) %></a>
  <a class="navbar-brand"><%= link_to "Back", root_path %></a>
</nav>

<h5>SONG LIST:</h5>
<% @artist.songs.each do |song| %>
<%= link_to "#{song.name}", artist_song_path(@artist, song) %><br>
<% end %>