<div class='title'>
<h2>BILLBOARD CHARTS</h2>
</div>
<%= render 'nav' %>

<% @charts.each do |chart|%>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%= link_to "#{chart.name}", chart_path(chart) %></h5>
  </div>
</div>
<% end %>