<div class='title_img'>
<img src="/images/logo.jpg" height="100" width="185">
</div>
<%= render 'nav' %>

<% @charts.each do |chart|%>
<div class="card" style="width: 99%;">
  <div class="card-body">
    <h5 class="card-title"> <%= link_to "#{chart.name}", chart_path(chart) %></h5>
  </div>
</div>
<% end %>