<h3>Billboard Chart - <%= @chart.name %></h3>
<%= link_to 'Add Song', new_chart_song_path(@chart) %> 
<hr>
<% if @songs.any? %>
  <% @songs.each do |song| %>
    <p><%= "#{song.name} by #{song.artist.name}" %></p>
     <%= link_to 'Remove From Chart', remove_chart_song_path(@chart, song), method: :delete %>
  <% end %>
<% end %>

